<div class="team" id="team">
  <app-team-header></app-team-header>
  <div class="team__container">
    <div class="team__content">
      <ul class="team__components opacity-element"  appScrollAnimate [animationClass]="'opacity'" [animationDelay]="200" [threshold]="0.5">
        <li class="team__title-component">
          <app-team-title></app-team-title>
        </li>
         <li class="team__item-one-component">
          <app-team-images></app-team-images>
        </li>

      </ul>
    </div>
  </div>
</div>
