@import '../../../assets/style/style';
@import '../../../assets/style/common';

.team {
  background: url(../../../assets/images/2.webp) 0 0 / cover no-repeat;
  @include adaptiveValue("padding-bottom", 220, 90);
  @media (max-width: em(1070)) {
    padding-bottom: rem(180);
  }
  // .team__container
  &__container {
  }

  // .team__content
  &__content {
  }

  // .team__components
  &__components {
  }

  // .team__title-component
  &__title-component {
    display: flex;
    justify-content: center;

    @include adaptiveValue("padding-top", 50, 40);
    @include adaptiveValue("padding-bottom", 50, 40);
  }

  // .team__item-one-component
  &__item-one-component {
  }
}
