<div class="tech-items opacity-element"  appScrollAnimate [animationClass]="'opacity'" [animationDelay]="200" [threshold]="0.5" >
  <div class="tech-items__container">
    <div class="tech-items__body">
      <ul class="tech-items__list">
        <ul class="tech-items__together-box">
        <li class="tech-items__item">
          <ul class="tech-items__together">
            <img src="/icons-work/Star%204.svg">
          <h3 class="tech-items__title tech-title">Web App</h3>
          </ul>
          <p class="tech-items__text tech-text tech-text--llm">Designed as a chatbot web  application</p>
        </li>
        <li class="tech-items__item tech-title">
          <ul class="tech-items__together">
            <img src="/icons-work/star-blue4.svg">
            <h3 class="tech-items__title">RAG</h3>
          </ul>
          <p class="tech-items__text tech-text tech-text--rag"> Sources from the corpus of over <span> 227,000 Australian laws</span> using retrieval-augmented generation (RAG)</p>
        </li>
        </ul>
        <ul class="tech-items__together-box">
        <li class="tech-items__item tech-title">
          <ul class="tech-items__together">
            <img src="/icons-work/star-blue4.svg">
            <h3 class="tech-items__title">LLM</h3>
          </ul>
          <p class="tech-items__text tech-text tech-text--llm">Operates with different Large Language Models (LLM)</p>
        </li>
        <li class="tech-items__item tech-title">
          <ul class="tech-items__together">
            <img src="/icons-work/Star%204.svg">
            <h3 class="tech-items__title">Vector Search</h3>
          </ul>
          <p class="tech-items__text tech-text tech-text--vector">The chatbot searches for answers to user questions among
            <br> <span>3.4 million  vectors</span></p>
        </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
