@import '../../../../assets/style/style';
@import '../../../../assets/style/common';


.tech-items {
  // .tech-items__container
  &__container {
  }

  // .tech-items__body
  &__body {
  }

  // .tech-items__list
  &__list {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(120);
    row-gap: rem(140);
  }

  // .tech-items__item
  &__item {
    &:not(:last-child) {
      //@include adaptiveValue("margin-bottom", 158, 30);
    }
  }

  // .tech-items__together
  &__together {
    display: flex;
    align-items: center;
    column-gap: rem(5);
    img{
      width: rem(25);
      height: rem(25);
    }
  }

  // .tech-items__title
  &__title {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: rem(200);
      height: rem(1);
      top: calc(100% + 13px);
      left: 0;
      background-color: #fff;
    }
  }

  // .tech-items__text
  &__text {

    @include adaptiveValue("padding-top", 26, 15);
    padding-left: rem(35);
  }
}
