<div class="tech-items">
  <div class="tech-items__container">
    <div class="tech-items__body">
      <ul class="tech-items__list">
        <li class="tech-items__item">
          <ul class="tech-items__together">
            <img src="/icons-work/Star%204.svg">
          <h3 class="tech-items__title tech-title">Large Languge Models</h3>
          </ul>
          <p class="tech-items__text tech-text">Our AI Chat backend can work with the best LLMs available in ​the market, including ChatGPT4o, Gemini, Claud, Groq, ​LLAMA, Claude and others.</p>
        </li>
        <li class="tech-items__item tech-title">
          <ul class="tech-items__together">
            <img src="/icons-work/Star%204.svg">
            <h3 class="tech-items__title">Retrieval-Augmented Generation</h3>
          </ul>
          <p class="tech-items__text tech-text">Every user query undergoes a vector search within our ​extensive legal database, followed by an in-depth analysis and ​reasoning process conducted by the LLMs.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
