<div class="tech-items">
  <div class="tech-items__container">
    <div class="tech-items__body">
      <ul class="tech-items__list">
        <li class="tech-items__item">
          <ul class="tech-items__together">
            <img src="/icons-work/Star%204.svg">
          <h3 class="tech-items__title tech-title">Web App</h3>
          </ul>
          <p class="tech-items__text tech-text">Designed as a chatbot web  application</p>
        </li>
        <li class="tech-items__item tech-title">
          <ul class="tech-items__together">
            <img src="/icons-work/star-blue4.svg">
            <h3 class="tech-items__title">LLM</h3>
          </ul>
          <p class="tech-items__text tech-text">Operates with different Large Language Models (LLM)</p>
        </li>
        <li class="tech-items__item tech-title">
          <ul class="tech-items__together">
            <img src="/icons-work/star-blue4.svg">
            <h3 class="tech-items__title">Vector Search</h3>
          </ul>
          <p class="tech-items__text tech-text tech-text--vector">The chatbot searches for answers to user questions among
            <br> 3.4 million  vectors</p>
        </li>
        <li class="tech-items__item tech-title">
          <ul class="tech-items__together">
            <img src="/icons-work/Star%204.svg">
            <h3 class="tech-items__title">RAG</h3>
          </ul>
          <p class="tech-items__text tech-text tech-text--rag">Sources from the corpus of over 227,000 Australian laws using retrieval-augmented generation (RAG)</p>
        </li>

      </ul>
    </div>
  </div>
</div>
