<div class="features-aus">
  <div class="features-aus__container">
    <div class="features-aus__content">
      <div class="features-aus__body">
        <h3 class="features-aus__title title title--aus">Australian Legislation:</h3>
        <ul class="features-aus__tablet">
          <li class="features-aus__item item-1"></li>
          <li class="features-aus__item item-2">Acts</li>
          <li class="features-aus__item item-3">Bills</li>
          <li class="features-aus__item item-4">Regulations</li>
          <li class="features-aus__item item-5">Court decisions</li>
          <li class="features-aus__item item-6">Federal</li>
          <li class="features-aus__item item-7">States and Territory</li>
          <li class="features-aus__item item-8">YES</li>
          <li class="features-aus__item item-9">YES</li>
          <li class="features-aus__item item-10">YES</li>
          <li class="features-aus__item item-11">YES</li>
          <li class="features-aus__item item-12">YES</li>
          <li class="features-aus__item item-13">YES</li>
          <li class="features-aus__item item-14">YES</li>
          <li class="features-aus__item item-15">YES</li>
        </ul>
      </div>
    </div>
  </div>
</div>
