
<div class="roadmap-tablet">
  <div class="roadmap-tablet__container">
    <div class="roadmap-tablet__body">
      <div class="roadmap__tablet-content">
        <ul class="roadmap-tablet__list">
          <li class="roadmap-tablet__item">
            <span class="roadmap-tablet__circle"></span>
            <span class="roadmap-tablet__line bold-font">-</span>
            <p class="roadmap-tablet__text bold-font">done</p>
          </li>
          <li class="roadmap-tablet__item">
            <span class="roadmap-tablet__half-circle"></span>
            <span class="roadmap-tablet__line bold-font">-</span>
            <p class="roadmap-tablet__text bold-font">developing</p>
          </li>
          <li class="roadmap-tablet__item">
            <span class="roadmap-tablet__empty-circle"></span>
            <span class="roadmap-tablet__line bold-font">-</span>
            <p class="roadmap-tablet__text bold-font">plans</p>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
