<div class="prod-header" >
  <div class="prod-header__content">
    <div class="prod-header__title title-header">
      <img class="title-header__star" src="/icons-work/star7.svg" alt="Star">
      <h3 class="title-header__title prod-title">P<span>r</span>oduct</h3>
    </div>
    <div class="prod__header__body body-btn">
      <button class="body-btn__btn prod-btn">
        <a class="body-btn__link" appClickSmooth="features">Feature</a>
        <img class="body-btn__arrow" src="/icons-work/arrow-down.svg" alt="Star" appClickSmooth="features">
      </button>
    </div>
  </div>
</div>
