<footer class="footer">
  <div class="footer__body">
    <div class="footer__container">
      <div class="footer__item item-1">

        <h4 class="footer__title opacity-element" appScrollAnimate [animationClass]="'opacity'" [animationDelay]="100"
            [threshold]="0.5">Managed By</h4>
        <a href="https://prosofthub.com.au/" target="_blank" class="footer__logo footer__logo--ref opacity-element" appScrollAnimate
           [animationClass]="'opacity'" [animationDelay]="250" [threshold]="0.5">ProSoftHub PTY LTD</a>
      </div>

      <div class="footer__item item-2">
        <a target="_blank" class="footer__logo footer__logo--lex opacity-element" href="/docs/Profactum.AI.pdf"
           appClickSmooth="home" appScrollAnimate [animationClass]="'opacity'" [animationDelay]="250" [threshold]="0.5">Profactum.AI</a>
      </div>

      <div class="footer__item item-3">
        <h4 class="footer__title opacity-element" appScrollAnimate [animationClass]="'opacity'" [animationDelay]="100"
            [threshold]="0.5">Product Description</h4>

        <a target="_blank" class="social__item opacity-element" href="/docs/Profactum.AI.pdf" appScrollAnimate
           [animationClass]="'opacity'" [animationDelay]="250" [threshold]="0.5">White paper</a>
      </div>

    </div>
    <div class="footer__copy opacity-element" appScrollAnimate [animationClass]="'opacity'" [animationDelay]="400"
         [threshold]="0.5">
      © 2024 Profactum.AI. All rights reserved.
    </div>
  </div>
</footer>
