@import '../../../assets/style/style';
@import '../../../assets/style/common';

/*.footer {
  background-color: #0C0C0C;
  padding: 150px 0;
  border-top: 1px solid #4C4C4C;
  color: #fff;
  font-family: Arial, sans-serif;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid #ffffff;
    text-align: center;

    &--logo {
      font-size: 24px;
      font-weight: bold;
    }

    &--highlighted {
      border-color: #4C799E;
      background: linear-gradient(90deg, #4C799E 0%, #3C5F80 40%, #2D3A4B 60%, #323232 100%);
      box-shadow: 0 0 10px rgba(76, 121, 158, 1);
    }
  }

  &__link {
    margin: 5px 0;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}*/
.footer {
  position: relative;
  color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #070707;
  @include adaptiveValue("padding-top", 62, 40, 767.98, 479.98, 1);
  padding-bottom: rem(100);
  @include adaptiveValue("padding-bottom", 70, 30, 1200, 320, 1);

  &::before {
    content: '';
    position: absolute;
    width: 95%;
    height: rem(1);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
background-color: #fff;
  }

  // .footer__body
  &__body {

  }

  // .footer__container
  &__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(100);
    row-gap: rem(30);
    @include adaptiveValue("row-gap", 30, 15, 767.98, 320);
    justify-content: space-around;
  }

  // .footer__item
  &__item {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  // .footer__title
  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 24, 20);
    font-weight: 700;
    margin-bottom: rem(25);
    @include adaptiveValue("margin-bottom", 25, 10, 767.98, 320, 1);

  }

  // .footer__logo
  &__logo {
    height: rem(93);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    @include adaptiveValue("font-size", 30, 20);
    @include adaptiveValue("height", 93, 50, 767.98, 320, 1);
    //max-width: rem(248);
    text-decoration: underline;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: none;
        color: #4475F2;
      }
    }
    @media (max-width: $mobile) {
      color: #4475F2;
    }
  }

  // .footer__social
  &__social {
  }

  // .footer__slogan
  &__slogan {
    cursor: pointer;
    height: rem(93);
    @include adaptiveValue("height", 93, 50, 767.98, 320, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(20);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #4475F2;
      }
    }
    @media (max-width: $mobile) {
      color: #4475F2;
    }
  }

  // .footer__copy
  &__copy {
    text-align: center;
    color: #fff;
    background: url(../../../assets/images/2.webp) 0 0 / cover no-repeat;
    padding: 50px;
  }
}

.social {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: rem(17);
  height: rem(93);
  @include adaptiveValue("height", 93, 50, 767.98, 320, 1);
  align-items: center;
  justify-content: center;
  // .social__item
  &__item {
    text-decoration: underline;
    cursor: pointer;
    //font-size: rem(17);
    height: rem(93);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    @include adaptiveValue("font-size", 25, 16);
    @include adaptiveValue("height", 93, 50, 767.98, 320, 1);
    //max-width: rem(248);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #4475F2;
        text-decoration: none;
      }
    }
    @media (max-width: $mobile) {
      color: #4475F2;
    }
  }
}
