<!--<footer class="footer">
  <div class="footer__container">
    <div class="footer__item footer__item&#45;&#45;logo">Lexfactum.AI</div>
    <div class="footer__item">
      <div class="footer__link">Home</div>
      <div class="footer__link">Roadmap</div>
    </div>
    <div class="footer__item">
      <div class="footer__link">Product</div>
      <div class="footer__link">Team</div>
    </div>
    <div class="footer__item">
      <div class="footer__link">Features</div>
    </div>
    <div class="footer__item footer__item&#45;&#45;highlighted">
      <div class="footer__link">Contact</div>
    </div>
  </div>
</footer>-->
<footer class="footer">
  <div class="footer__body">
    <div class="footer__container">
      <div class="footer__item">
        <h4 class="footer__title animated-element"  appScrollAnimate [animationClass]="'animate'" [animationDelay]="100" [threshold]="0.5">Managed By</h4>
<!--        <p class="footer__logo">Lexfactum.AI</p>-->
        <a href="https://prosofthub.com.au/" target="_blank" class="footer__logo animated-element"  appScrollAnimate [animationClass]="'animate'" [animationDelay]="250" [threshold]="0.5">ProSoftHub PTY LTD</a>
        <!--            <img src="../../../../assets/img/Logo.png" class="footer__logo" alt="Logo">-->
      </div>

    <div class="footer__item">
        <h4 class="footer__title animated-element" appScrollAnimate [animationClass]="'animate'" [animationDelay]="100" [threshold]="0.5">Product Description</h4>

          <a target="_blank" class="social__item animated-element" href="/docs/Lexfactum.AI.pdf" appScrollAnimate [animationClass]="'animate'" [animationDelay]="250" [threshold]="0.5">White paper</a>
        </div>
<!--      </div>-->
     <!-- <div class="footer__item">
        <h4 class="footer__title animated-element"  appScrollAnimate [animationClass]="'animate'" [animationDelay]="100" [threshold]="0.5">Slogan</h4>
        <p class="footer__slogan animated-element"  appScrollAnimate [animationClass]="'animate'" [animationDelay]="250" [threshold]="0.5">#RentFavBooks</p>
      </div>-->
    </div>
    <div class="footer__copy opacity-element"  appScrollAnimate [animationClass]="'opacity'" [animationDelay]="400" [threshold]="0.5">
      © 2024 Lexfactum.AI. All rights reserved.
    </div>
  </div>
</footer>
