<div class="pack-two">
  <div class="pack-two__container">
    <div class="pack-two__body">
      <ul class="pack-two__title title title--card">
        <h4>ENTERPRISE</h4>
        <p class="pack-two__exclusive">Exclusive</p>
      </ul>
      <ul class="pack-two__list">
        <li class="pack-two__item">
          <p class="pack-two__text">On premises: Laws and AI are local</p>
        </li>
        <li class="pack-two__item">
          <p class="pack-two__text">Privacy and full control over internal data</p>
        </li>
        <li class="pack-two__item">
          <p class="pack-two__text">The same functionality as online</p>
        </li>
        <li class="pack-two__item">
          <p class="pack-two__text" style="line-height: 30px;">Who’s customer: large  law firms, big four, parliaments and government departments,  contractors that work for governments, large corporations</p>
        </li>
      </ul>
      <button class="pack-two__btn">
        <a class="pack-two__link" appClickSmooth="order">Order</a>
      </button>
    </div>
  </div>
</div>
