
<div class="contact" id="contact">
  <app-contact-header></app-contact-header>
  <div class="contact__container">
    <div class="contact__content">
      <ul class="contact__components">
        <ul class="contact__list">
          <li class="contact__item-one-component animated-element"  appScrollAnimate [animationClass]="'animate'" [animationDelay]="200" [threshold]="0.5">
            <app-contact-item-one></app-contact-item-one>
          </li>
          <li appDynamicAdapt=".contact__item-together, 1052" class="contact__item-two-component animated-element"  appScrollAnimate [animationClass]="'animate'" [animationDelay]="300" [threshold]="0.5">
            <app-contact-item-two></app-contact-item-two>
          </li>
          <li appDynamicAdapt=".contact__item-together, 1052; .contact__components, 788.98" class="contact__item-three-component animated-element"  appScrollAnimate [animationClass]="'animate'" [animationDelay]="400" [threshold]="0.5">
            <app-contact-item-three></app-contact-item-three>
          </li>
            <ul class="contact__item-together animated-element"  appScrollAnimate [animationClass]="'animate'" [animationDelay]="200" [threshold]="0.5">
            </ul>

        </ul>
      </ul>
    </div>
  </div>
</div>
