<app-contact-header></app-contact-header>
<div class="contact">
  <div class="contact__container">
    <div class="contact__content">
      <ul class="contact__components">
        <ul class="contact__list">
          <li class="contact__item-one-component">
            <app-contact-item-one></app-contact-item-one>
          </li>
          <li class="contact__item-two-component">
            <app-contact-item-two></app-contact-item-two>
          </li>
          <li class="contact__item-three-component">
            <app-contact-item-three></app-contact-item-three>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
