@import '../../../../assets/style/style';
@import '../../../../assets/style/common';

.prod-title {
  // .prod-title__container
  &__container {
  }

  // .prod-title__body
  &__body {
  }

  // .prod-title__title
  &__title {
    display: flex;
  }

  // .prod-title__txt-icon
  &__txt-icon {
    position: relative;
    background-image: url(../../../../assets/images/blue-txt-bg.jpg);
    //background-position: 263% 185%;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    img {
      position: absolute;
      width: 100%;
      top: 110%;
      left: 0;
    }
  }
}

.prod {
  // .prod__title-box
  &__title-box {
    display: flex;
    align-items: center;
    column-gap: rem(10);
  }
}

.title-header {
  // .title-header__star
  &__star {
    @include adaptiveValue("width", 30, 20, 767.98, 557.98, 1);
    margin-right: rem(-10);
  }
}

.title {
}
