<div class="prod-title animated-element" appScrollAnimate [animationClass]="'animate'" [animationDelay]="100" [threshold]="0.5">
  <div class="prod-title__container">
    <div class="prod-title__body">
      <div class="prod__title-box">
        <img class="title-header__star" src="/icons-work/Star%204.svg" alt="Star">
        <h2 class="prod-title__title title title--product">AI-Powered</h2>
        <div class="prod-title__txt-icon title title--product">
          Legal
          <img src="/uderline-law.svg" alt="Underline Icon">
        </div>
        <h2 class="prod-title__title title title--product">Insights</h2>
      </div>
    </div>
  </div>
</div>
