@import '../../../../assets/style/style';
@import '../../../../assets/style/common';

.contact-two {
  // .contact-two__content
  &__content {
  }

  // .contact-two__body
  &__body {
    position: relative;
  }

  // .contact-two__form
  &__form {
  }
}

.form {
  // .form__body
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(50);
  }


  // .form__input-name
  &__input-name {
  }

  // .form__email-content
  &__email-content {
  }

  // .form__text-content
  &__text-content {
  }

  // .form__input-email
  &__input-email {
  }

  // .form__email-error
  &__email-error {
  }

  // .form__textarea-error
  &__textarea-error {
  }


  // .form__textarea
  &__textarea {
  }

  // .form__btn
  &__btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: rem(1) solid #fff;
    color: #fff;
    width: 100%;
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    transition: all 0.3s ease 0s;
  }

  // .form__link
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    @include adaptiveValue("font-size", 19, 17);
    letter-spacing: rem(0.8);
    padding: rem(20) rem(50);
  }
}

.inp {
  max-width: rem(325);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  background: none;
  border-bottom: rem(1) solid rgba(255, 255, 255, 0.3);
  padding-bottom: rem(10);
  @include adaptiveValue("font-size", 16, 15);
  outline: none;
  color: #fff;
  width: 100%;
  transition: border-bottom 0.3s ease 0s, padding-left 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      border-bottom: rem(1) solid #fff;
    }
  }

  &::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #C2C2C2;
    @include adaptiveValue("font-size", 16, 15);
    transition: opacity 0.3s ease 0s;
  }

  &:focus::placeholder {
    opacity: 0;
  }

  &:focus {
    padding-left: rem(10);
    border-bottom: rem(2) solid #D9D9D9;
    outline: none;
  }
}

.textarea {
  max-width: rem(325);
  font-family: 'Inter', sans-serif;
  font-weight: 300;

  border: rem(1) solid rgba(255, 255, 255, 0.3);
  @include adaptiveValue("font-size", 16, 15);
  line-height: 135%;
  padding: rem(5) rem(20) rem(15) rem(10);
  background: none;
  outline: none;
  max-height: rem(100);
  color: #fff;
  @include adaptiveValue("margin-bottom", 40, 20);
  resize: none;
  width: 100%;
  transition: border 0.3s ease 0s, padding-left 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      border: rem(1) solid #fff;
    }
  }

  &::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #C2C2C2;
    @include adaptiveValue("font-size", 16, 16);
    transition: opacity 0.3s ease 0s;
  }

  &:focus::placeholder {
    opacity: 0;
  }

  &:focus {
    padding-left: rem(5);
    border: rem(1) solid #D9D9D9;
    outline: none;
  }


  // .contact-two__success
  &__success {
  }

}

.input-content {
  position: relative;
}

.error-box {
  position: absolute;
  bottom: -52%;
  left: 0;
  color: #ff3300;

  &--txt {
    top: 73%;
  }
}

[disabled] {
  pointer-events: none;
  border: rem(1) dashed #8c8c8c;
  color: #8c8c8c;
  @media (any-hover: hover) {
    &:hover {
      background: none;
    }
  }
}

.success {
  position: absolute;
  width: 100%;
 @include adaptiveValue("top", -100, -70);
  left: 0;
  opacity: 1;
  animation: fadeInShadow 0.5s linear;
  transition: all 0.5s ease;
  &--hide{
    //display: none;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
  }
  // .success__body
  &__body {
    padding: rem(5) rem(5);
    border-radius: rem(25);
    border: rem(1) solid #fff;
    opacity: 1;
    transform: scale(1);
    animation: fadeIn 0.5s linear;
    &--hide{
      opacity: 0;
      transform: scale(0.9);
      transition: all 0.5s ease;
    }
  }

  // .success__content
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(10);
  }

  &__together {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: rem(10);
  }

  // .success__item
  &__item {

    &--green {
      cursor: pointer;
      padding: rem(5);
      border: rem(2) solid #03c503;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  &__item-close{
    //padding: 0 rem(5) 0 0;
  }

  // .success__text
  &__text {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    @include adaptiveValue("font-size", 17, 16);
  }
}

.material-symbols-outlined {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInShadow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
