
<div class="contact-two">
  <div class="contact-two__content">
    <div class="contact-two__body">
      <form class="contact-two__form form">
        <div class="form__body">
        <input type="text" placeholder="Your Name" class="form__input-name inp">
        <input type="email" placeholder="Your Email" class="form__input-email inp">
          <textarea cols="30" rows="10" placeholder="Shape your thoughts" class="form__textarea textarea"></textarea>
        </div>
        <button class="form__btn">
          <a class="form__link">Shape your feedback</a>
        </button>
      </form>
    </div>
  </div>
</div>
