@import '../../../../assets/style/style';
@import '../../../../assets/style/common';


.hero-title {
  // .hero-title__container
  &__container {
  }

  // .hero-title__body
  &__body {
  }

  // .hero-title__content
  &__content {
    display: flex;
    column-gap: rem(15);
    justify-content: center;
  }

  // .hero-title__title
  &__title {
    overflow: hidden;

    span {

      display: inline-block;
      @media (min-width: em(600)) {
      transform: translateY(100%);
      opacity: 1;
      }
    }
@media (min-width: em(600)) {
    &.loaded {
      span {
        transform: translateY(0);
        opacity: 1;
        transition: all 0.5s ease 0s;

        &:nth-child(1) {
          transition-delay: 0.1s;
        }

        &:nth-child(2) {
          transition-delay: 0.2s;
        }
      }
    }
    &.load{
      span{
        transform: translateY(0);
        opacity: 1;
      }
    }
    }
  }
}

.title--hero-3 {
  overflow: hidden;

  span {
    display: inline-block;
    @media (min-width: em(600)) {
    transform: translateY(100%);
    }
  }

  @media (min-width: em(600)) {
  &.loaded {
    span {
      transform: translateY(0);
      opacity: 1;
      transition: all 0.5s ease 0s;

      &:nth-child(1) {
        transition-delay: 0.3s;
      }

      &:nth-child(2) {
        transition-delay: 0.4s;
      }

      &:nth-child(3) {
        transition-delay: 0.5s;
      }

      &:nth-child(4) {
        transition-delay: 0.6s;
      }

      &:nth-child(5) {
        transition-delay: 0.7s;
      }

      &:nth-child(6) {
        transition-delay: 0.8s;
      }

      &:nth-child(7) {
        transition-delay: 0.9s;
      }
    }
  }
  &.load{
    span{
      transform: translateY(0);
      opacity: 1;
    }
  }
  }
}


.desc-hero-text {
  // .desc-hero-text__law
  &__law {
    position: relative;

    span {
      display: inline-block;
      opacity: 0;
      background-image: url(../../../../assets/images/blue-txt-bg.jpg);
      //background-position: 263% 185%;
      background-position: center;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      overflow: hidden;
      @media (max-width: em(600)) {
       opacity: 1;
        overflow: visible;
      }
    }
 @media (min-width: em(600)) {

    &.loaded {
      overflow: visible;
      span {
        opacity: 1;
        transition: all 1s ease 0.2s;
      }

      img {
        transform: translateY(0);
        opacity: 1;
      }
     }
    }

    &.load{
      overflow: visible;
      opacity: 1;
      span{
        opacity: 1;
      }
      img {
        @media (min-width: em(600)) {
        transform: translateY(0);
        opacity: 1;
        }
      }
    }


    img {
      transition: all 1s ease 0.2s;
      position: absolute;
      width: 100%;
      top: 110%;
      left: 0;
      transform: translateY(100%);
      opacity: 0;
      @media (max-width: em(600.98)) {
        transform: translateY(0);
        top: 110%;
        opacity: 1;
      }
    }
  }
}
