<div class="contact-three">
  <div class="contact-three__content item-three">
    <div class="item-three__body">
      <ul class="item-three__list">
        <li class="item-three__item">
          <h5 class="item-three__title">Based in</h5>
          <p class="item-three__city txt">Sydney,</p>
          <p class="item-three__state txt">New South Wales</p>
        </li>

        <li class="item-three__item item-email">
          <h5 class="item-three__title">Email:</h5>
          <a class="item-three__email txt" href="mailto:shalynishka2005.@gmail.com">{{email}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
