@import '../../../../assets/style/style';
@import '../../../../assets/style/common';

.contact-three {
  width: 100%;
  // .contact-three__content
  &__content {
  }
}

.item-three {
  // .item-three__body
  &__body {
  }

  // .item-three__list
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //align-items: flex-start;
    height: rem(340);
    @media (max-width: em(788.98)) {
      //display: flex;
      flex-direction: row;
      justify-content: space-between;
      //align-items: center;
      //width: 100%;
      height: 100%;
    }
    @media (max-width: em(430)) {
      flex-direction: column;
    }
  }

  // .item-three__item
  &__item {
    //flex: 1;

    @include adaptiveValue("padding-bottom", 40, 40);
    border-bottom: rem(1) solid #8F8F8F;
    @media (max-width: em(788.98)) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: rem(15);
    }
  }

  // .item-three__title
  &__title {
    font-family: Inter-Regular, sans-serif;
    font-weight: 400;
    @include adaptiveValue("font-size", 25, 19);
    line-height: 142%;
    color: #C2C1C1;
  }

  // .item-three__city
  &__city {
  }

  // .item-three__state
  &__state {
  }

  // .item-three__email
  &__email {
  }
}

.txt {
  font-family: Inter-Extra-Light, sans-serif;
  font-weight: 200;
  @include adaptiveValue("font-size", 17, 16);
  line-height: 142%;
  color: #FFF;
}

.item-email {
  padding-top: rem(40);
  @media (max-width: em(788.98)) {
    display: flex;
    //height: 100%;
    padding-top: rem(0);
  }
  @media (max-width: em(430)) {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding-top: rem(30);
  }
}
