<div class="hero" id="home" >
  <div class="hero__container">
    <div class="hero__chip chip">
      <div class="chip__body" [class.menu-open]="isMenuOpen ? isMenuOpen() : ''">
        <div class="chip__content" [class.loaded]="isLoading" [class.load]="isLoaded">
          <img src="/chip.png" alt="" class="chip__icon">
          <div class="chip__texts">
            <h1 class="chip__title chip-title">GenAI</h1>
            <p class="chip__description chip-text">Law Assistant</p>
          </div>
        </div>
      </div>
    </div>
    <ul class="hero__components comp" [class.loaded]="isLoading" [class.load]="isLoaded" [class.menu-open]="isMenuOpen ? isMenuOpen() : ''">
      <li class="hero__title-component item" [class.loaded]="isLoading" [class.load]="isLoaded">
        <app-hero-title></app-hero-title>
      </li>

      <li class="hero__design-component item comp" [class.loaded]="isLoading" [class.load]="isLoaded" [class.menu-open]="isMenuOpen ? isMenuOpen() : ''">
        <app-design-text></app-design-text>
      </li>
      <li class="hero__text-component item comp" [class.loaded]="isLoading" [class.load]="isLoaded" [class.menu-open]="isMenuOpen ? isMenuOpen() : ''">
        <app-text-block></app-text-block>
      </li>
      <li class="hero__video-component comp" [class.loaded]="isLoading" [class.load]="isLoaded" [class.menu-open]="isMenuOpen ? isMenuOpen() : ''">
<!--        <app-video-chat></app-video-chat>-->
      </li>
      <li class="hero__design-number-component comp" [class.loaded]="isLoading" [class.load]="isLoaded" [class.menu-open]="isMenuOpen ? isMenuOpen() : ''">
<!--        <app-design-number></app-design-number>-->
      </li>

    </ul>
  </div>
</div>
