@import '../../../assets/style/style';
@import '../../../assets/style/common';


.hero {
  position: relative;
  min-height: 100vh;
  //grid-template-columns: 15px 1fr minmax(auto, 1570px) 1fr 15px;
  background: url(../../../assets/images/2.webp) 0 0 / cover no-repeat;
  padding-bottom: rem(200);


  // .hero__components
  &__components {
    display: flex;
    flex-direction: column;
    //position: relative;
    min-height: 906px;
    //min-height: 695px;
    @include adaptiveValue("min-height", 906, 906);

    &.done{
      min-height: 100%;
    }
  }

  // .hero__title-component
  &__title-component {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.loaded {
      left: 50%;
      top: 11.7%;
      transform: translate(-50%, 0);
      transition: all 1s ease 1.3s;

      @media (max-width: em(991.98)) {
        top: 13.2%;
      }

      @media (max-width: em(800.98)) {
        top: 13.2%;
      }

      @media (max-width: em(750.98)) {
        top: 13%;
      }

       @media (max-width: em(700.98)) {
        top: 13.2%;
      }


      @media (max-width: em(650.98)) {
        top: 12.9%;
      }

      @media (max-width: em(450.98)) {
        top: 12.5%;
      }
    }

    &.load {
      position: relative;
      height: unset;
    }
  }

  // .hero__design-component
  &__design-component {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    min-height: rem(55);
    &.loaded {
      opacity: 0;
      min-height: rem(55);
    }

    &.load {
      min-height: rem(55);
      opacity: 1;
      transition: all 0.5s ease 0s;
    }
  }

  // .hero__text-component
  &__text-component {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
       min-height: rem(88);

    &.load {
      opacity: 1;
      transition: all 1s ease 0s;
         min-height: rem(88);
    }
  }

  // .hero__video-component
  &__video-component {
    opacity: 1;
       min-height: rem(300);

    &.loaded {
      opacity: 0;
         min-height: rem(300);
    }

    &.load {
      min-height: rem(300);
      opacity: 1;
      transition: all 1s ease 0s;
    }
  }

  // .hero__design-number-component
  &__design-number-component {

    text-align: right;
    @media (min-width: $mobile) {
      padding-right: rem(20);
    }
    @media (max-width: em(1050)) {
      padding-top: rem(40);
    }
       min-height: rem(30);
    opacity: 0;

    &.loaded {
         min-height: rem(30);
      opacity: 0;
    }

    &.load {
      min-height: rem(30);
      opacity: 1;
      transition: all 0.5s ease 0s;
    }
  }
}

.item {
  &:not(:last-child) {
    margin-bottom: rem(100);
    @include adaptiveValue("margin-bottom", 100, 15, 1200, 320, 1);
  }

}

.chip {
  padding-top: rem(130);
  margin-bottom: rem(16);
  @include adaptiveValue("padding-top", 130, 100, 767.98, 320);
  //@include adaptiveValue("margin-bottom", 16, 25, 991.98, 320);
  //@include adaptiveValue("margin-bottom", 16, 35, 991.98, 320);
  @media (max-width: em(991.98)) {
    margin-bottom: rem(35);
  }
  // .chip__content
  &__content {
    display: flex;
    align-items: center;
    gap: rem(10);
    opacity: 0;
    transition: all 0.8s ease 0s;

    &.loaded {
      opacity: 1;
    }

    &.load {
      opacity: 1;
    }
  }

  // .chip__icon
  &__icon {
    width: rem(40);
    height: rem(40);
    @include adaptiveValue("width", 40, 25, 1200, 320, 1);
    @include adaptiveValue("height", 40, 25, 1200, 320, 1);
  }

  // .chip__texts
  &__texts {
    display: grid;
    gap: rem(7);
  }
}


.year__block {
  display: flex;
  justify-content: flex-end;
  margin: rem(0) rem(10);
  padding: rem(0) rem(10);
}

.hero-text__year {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  //background-image: url(../../../assets/images/klyaks.svg);
  background-size: 100%;
  padding: 45px;
  position: absolute;
  bottom: 15%;
  right: 5%;
}

.comp {
  transition: all 0.3s ease 0s;

  &.menu-open {
    transform: translateY(20px) scale(0.9);
    transition: all 0.3s ease 0s;
  }
}
