@import '../../../../assets/style/style';
@import '../../../../assets/style/common';

.features-one {
  // .features-one__container
  &__container {
    @media (max-width: em(1036)) {
      //margin: 0 rem(20);
    }
  }

  // .features-one__body
  &__body {
  }

  // .features-one__main-top
  &__main-top {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding-top", 50, 25);
    @include adaptiveValue("margin-bottom", 35, 20);
  }

  &__title-box{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    column-gap: rem(5);
    margin-left: rem(-20);
    position: relative;
    span{
      background-image: url(../../../../assets/images/blue-txt-bg.jpg);
      background-position: center;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      @include adaptiveValue("max-width", 295, 170);
      height: rem(2);
      @include adaptiveValue("bottom", -30, -15);
      left: rem(30);
      background: url(../../../../assets/images/blue-txt-bg.jpg) 0 0 / cover no-repeat;
      //background-size: 160%;
      background-size: 207%;
    }
  }

  // .features-one__subtitle
  &__subtitle {
    font-family: Oswald-SemiBold, sans-serif;
    font-weight: 600;
    @include adaptiveValue("font-size", 35, 21);
    line-height: rem(13);
  }

  // .features-one__list
  &__list {
    @include adaptiveValue("padding-top", 55, 30);
  }

  // .features-one__item
  &__item {
    display: flex;
    align-items: start;
    column-gap: rem(10);
  }

  &__icon {
    @include adaptiveValue("width", 25, 18);
    @include adaptiveValue("height", 25, 18);
  }

  // .features-one__text
  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    @include adaptiveValue("font-size", 19, 15);
    color: #8b8b8b;
    max-width: rem(635);
    line-height: rem(33);
    span {
      color: #fff;
    }
    @media (max-width: em(1380)) {
      max-width: rem(500);
    }
    @media (max-width: em(740)) {
      line-height: 175%;
    }
  }
}
