<div class="features-one opacity-element" appScrollAnimate [animationClass]="'opacity'" [animationDelay]="200" [threshold]="0.5" >
  <div class="features-one__container">
    <div class="features-one__body">
      <div class="features-one__main-top">
        <div class="features-one__title-box">
        <h3 class="features-one__subtitle">Search and analyse</h3>
        <img src="/icons-work/Star%204.svg" class="features-one__icon">
        </div>
        <ul class="features-one__list">
          <li class="features-one__item">
            <p class="features-one__text">Our comprehensive search and analysis capabilities include <span>semantic (AI) search</span>, <span>keyword search</span>, and <span>advanced filters</span>, ensuring precise and efficient information retrieval.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
