@import '../../../../assets/style/style';
@import '../../../../assets/style/common';

.box-images {
  // .box-images__one
  &__one {
    @media (max-width: em(1070)) {
      @include adaptiveValue("width", 254, 120);
    }
    animation: rotate 30s infinite linear;
  }
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
