<div class="team-images">
  <div class="team-images__container">
    <div class="team-images__body">
      <ul class="team-images__list">
        <li class="team-images__item">
          <ul class="team-images__content">
            <li class="team-images__img-box">
              <img src="/2.webp" class="team-images__image">
            </li>
            <ul class="team-images__txt-box">
            <p class="team-images__text">Dr Oleksii <br> Konashevych</p>
            <p class="team-images__subtext">CEO & Co-Founder</p>
            </ul>
            <ul class="team-images__sills-list">
              <li class="team-images__skills-item">
                <p>Phd in law</p>
              </li>
              <li class="team-images__skills-item">
                <p>Css</p>
              </li>
              <li class="team-images__skills-item">
                <p>TypeScript</p>
              </li>
            </ul>
          </ul>
        </li>
        <li class="team-images__item">
          <ul class="team-images__content">
            <li class="team-images__img-box">
              <img src="/2.webp" class="team-images__image">
            </li>
            <ul class="team-images__txt-box">
            <p class="team-images__text">Sergiy <br> Chernyshov</p>
            <p class="team-images__subtext">CTO & Co-Founder</p>
            </ul>
            <ul class="team-images__sills-list">
              <li class="team-images__skills-item">
                <p>HTMl</p>
              </li>
              <li class="team-images__skills-item">
                <p>Css</p>
              </li>
              <li class="team-images__skills-item">
                <p>TypeScript</p>
              </li>
            </ul>
          </ul>
        </li>
        <li class="team-images__item">
          <ul class="team-images__content">
            <li class="team-images__img-box">
              <img src="/2.webp" class="team-images__image">
            </li>
            <ul class="team-images__txt-box">
            <p class="team-images__text">Ihor <br> Chernyshov</p>
            <p class="team-images__subtext">Front end developer</p>
            </ul>
            <ul class="team-images__sills-list">
              <li class="team-images__skills-item">
                <p>HTMl</p>
              </li>
              <li class="team-images__skills-item">
                <p>Css</p>
              </li>
              <li class="team-images__skills-item">
                <p>TypeScript</p>
              </li>
            </ul>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>
