<div class="features-title">
  <div class="features-title__container">
    <div class="features-title__body">
      <div class="features__title-box">
        <img class="title-header__star" src="/icons-work/Star%204.svg" alt="Star">
        <h2 class="features-title__title title title--features">What’re</h2>
        <div class="features-title__txt-icon title title--features">
          You
          <img src="/uderline-law.svg" alt="Underline Icon">
        </div>
        <h2 class="features-title__title title title--features">Getting?</h2>
      </div>
    </div>
  </div>
</div>
