<div class="pack-mes">
  <div class="pack-mes__container">
    <div class="pack-mes__body">
      <form class="pack-mes__form form">
        <div class="form__body">
          <div class="form__input-box">
            <input type="email" placeholder="Your email" class="form__input message">
            <button class="form__btn"><a class="form__link">Send</a></button>
          </div>
          <div class="form__textarea-box">
            <textarea cols="30" rows="10" placeholder="Message" class="form__textarea message"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
