<div class="prod-text animated-element" appScrollAnimate [animationClass]="'animate'" [animationDelay]="200" [threshold]="0.5">
  <div class="prod-text__container">
    <div class="prod-text__description desc-prod-text">
      <div class="desc-prod-text__body" [class.loaded]="isLoading">
        <p class="desc-prod-text__text text">Transforming legal research with AI across 220,000 Australian laws. Experience unparalleled precision and efficiency in your legal analyses.</p>
      </div>
    </div>
  </div>
</div>
