<div class="roadmap-header">
  <div class="roadmap-header__content">
    <div class="roadmap-header__title title-header">
      <img class="title-header__star" src="/icons-work/Star%208svg.svg" alt="Star">
      <h3 class="title-header__title prod-title">Roa<span>d</span>map</h3>
    </div>
    <div class="roadmap__header__body body-btn">
      <button class="body-btn__btn roadmap-btn">
        <a class="body-btn__link">Team</a>
        <img class="body-btn__arrow" src="/icons-work/arrow-down.svg" alt="Star">
      </button>
    </div>
  </div>
</div>
