@import '../../../../assets/style/style';
@import '../../../../assets/style/common';

.contact-item-one {
  // .contact-item-one__content
  &__content {
  }

  // .contact-item-one__body
  &__body {
    position: relative;
    z-index: 9;
    padding: rem(50) rem(0);
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      max-width: rem(300);
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -5%;
    aspect-ratio: 364/413;
    max-width: rem(364);
    min-width: rem(364);
    max-height: rem(408);
    object-fit: cover;
    z-index: 10;
  }

  // .contact-item-one__one-box
  &__one-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-areas:
    'item-1 item-1'
    'item-2 item-3';
    max-width: rem(250);
    column-gap: rem(26);
  }

  // .contact-item-one__one
  &__one {
    grid-area: item-1;

  }

  // .contact-item-one__two
  &__two {
    width: rem(155);
    height: rem(2);
    background-color: #fff;
    grid-area: item-2;
    align-self: center;
  }

  // .contact-item-one__three
  &__three {
    grid-area: item-3;
  }


  // .contact-item-one__text
  &__text {
    position: relative;
    z-index: 11;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    max-width: rem(360);
    line-height: 142%;
    @include adaptiveValue("font-size", 17, 16);
    color: #D3D3D3;
  }
}

.item {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  @include adaptiveValue("font-size", 64, 32);
  letter-spacing: rem(0.8);
  line-height: rem(95);
}
