<div class="contact-item-one">
  <div class="contact-item-one__content">
    <div class="contact-item-one__body">
      <div class="contact-item-one__one-box animated-element"  appScrollAnimate [animationClass]="'animate'" [animationDelay]="200" [threshold]="0.5">
        <p class="contact-item-one__one item">Contact</p>
        <p class="contact-item-one__two item"></p>
        <p class="contact-item-one__three item">Us</p>
      </div>
      <div class="contact-item-one__text animated-element"  appScrollAnimate [animationClass]="'animate'" [animationDelay]="200" [threshold]="0.5">
        <p>It is very importnant for us to keep in touch with
          you, so we are always ready to answer any
          question that interests you. Shoot!</p>
      </div>
      <img src="/contact-circlle.svg" class="contact-item-one__bg">
    </div>
  </div>
</div>
