<div class="timeline">
  <div class="timeline__bg">
    <app-roadmap-bg></app-roadmap-bg>
  </div>

  <div class="timeline__list-one list">
    <div class="timeline__item timeline__item--active">
      <div class="timeline__circle"></div>
      <div class="timeline__line"></div>
      <div class="timeline__text">Lexfactum<br><p>enterprise (MVP)</p></div>
    </div>
    <div class="timeline__item">
      <div class="timeline__circle"></div>
      <div class="timeline__line timeline__line--down"></div>
      <div class="timeline__text timeline__text--down">UIX upgrade: <br> <p>Upload Documents Form cases</p></div>
    </div>
    <div class="timeline__item timeline__item--active">
      <div class="timeline__half-circle"></div>
      <div class="timeline__line"></div>
      <div class="timeline__text">Lexfactum<br><p>online (MVP)</p></div>
    </div>
  </div>
  <div class="timeline__list-two list">
    <div class="timeline__item">
      <div class="timeline__empty-circle"></div>
      <div class="timeline__line timeline__line--down"></div>
      <div class="timeline__text timeline__text--down"><p>Integration of AKOMA</p><p>NTOSO XML</p></div>
    </div>
    <div class="timeline__item">
      <div class="timeline__empty-circle"></div>
      <div class="timeline__line"></div>
      <div class="timeline__text"><p>Adoption of European and African laws</p><p>(akoma ntoso compliant)</p></div>
    </div>
    <div class="timeline__item">
      <div class="timeline__empty-circle"></div>
      <div class="timeline__line timeline__line--down"></div>
      <div class="timeline__text timeline__text--down"><p>Further adoption of</p><p>other jurisdictions</p></div>
    </div>
  </div>

  <div class="timeline__list-three list">
    <div class="timeline__item">
      <div class="timeline__empty-circle"></div>
      <div class="timeline__line"></div>
      <div class="timeline__text">Eleaborate<br><p>AI Finetuning</p></div>
    </div>
    <div class="timeline__item">
      <div class="timeline__empty-circle"></div>
      <div class="timeline__line timeline__line--down-last"></div>
      <div class="timeline__text timeline__text--down"><p>Agreement Generator</p></div>
    </div>
    <div class="timeline__item">
      <div class="timeline__empty-circle"></div>
      <div class="timeline__line"></div>
      <div class="timeline__text"><p>Ms Office integration</p></div>
    </div>
  </div>

</div>
