<div class="timeline">
  <div class="timeline__bg">
    <app-roadmap-bg></app-roadmap-bg>
  </div>

  <div class="timeline__list-one list">
    <div class="timeline__item timeline__item--active">
      <div class="timeline__circle"></div>
      <div class="timeline__line"></div>
      <div class="timeline__text timeline__text--enterprise">Lexfactum<br>enterprise (MVP)</div>
    </div>
    <div class="timeline__item">
      <div class="timeline__circle"></div>
      <div class="timeline__line timeline__line--down-one"></div>
      <div class="timeline__text timeline__text--down-uix">UIX upgrade: <br>Upload Documents Form cases</div>
    </div>
    <div class="timeline__item timeline__item--active">
      <div class="timeline__half-circle"></div>
      <div class="timeline__line"></div>
      <div class="timeline__text">Lexfactum<br><p>online (MVP)</p></div>
    </div>
  </div>
  <div class="timeline__list-two list">
    <div class="timeline__item">
      <div class="timeline__empty-circle"></div>
      <div class="timeline__line timeline__line--down-two"></div>
      @if (document.documentElement.offsetWidth > 892){
        <div class="timeline__text timeline__text--down">Integration of <br> AKOMA NTOSO XML</div>
      }@else{
        <div class="timeline__text timeline__text--down">Integration of <br><p>AKOMA NTOSO XML</p></div>
    }

    </div>
    <div class="timeline__item">
      <div class="timeline__empty-circle" style="width: 23px; height: 22px;"></div>
      <div class="timeline__line"></div>
      <div class="timeline__text timeline__text--short">Adoption of European and African laws(akoma ntoso compliant)</div>
    </div>
    <div class="timeline__item">
      <div class="timeline__empty-circle"></div>
      <div class="timeline__line timeline__line--down-three"></div>
      @if (document.documentElement.offsetWidth > 892){
      <div class="timeline__text timeline__text--down-jur">Further adoption of other jurisdictions</div>
      }@else{
        <div class="timeline__text timeline__text--down-jur"><p>Further adoption of</p><p>other jurisdictions</p></div>
      }
    </div>
  </div>

  <div class="timeline__list-three list">
    <div class="timeline__item">
      <div class="timeline__empty-circle"></div>
      <div class="timeline__line"></div>
      <div class="timeline__text">Eleaborate<br><p>AI Finetuning</p></div>
    </div>
    <div class="timeline__item">
      <div class="timeline__empty-circle"></div>
      <div class="timeline__line timeline__line--down-last"></div>
      <div class="timeline__text timeline__text--down"><p>Agreement Generator</p></div>
    </div>
    <div class="timeline__item">
      <div class="timeline__empty-circle"></div>
      <div class="timeline__line"></div>
      <div class="timeline__text"><p>Ms Office integration</p></div>
    </div>
  </div>

</div>
