@import '../../../../assets/style/style';
@import '../../../../assets/style/common';

.des-number {
  // .des-number__container
  &__container {
  }

  // .des-number__content
  &__content {
  }

  // .des-number__body
  &__body {
  }

  // .des-number__number
  &__number {
    font-family: Unbounded-ExtraLight, sans-serif;
    letter-spacing: rem(7.5);
    font-size: rem(30);
    background-image: url(../../../../assets/images/hero-title.jpg);
    background-size: 400%;
    background-repeat: repeat;
    animation: bg-animation 40s infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
