<div class="contact-header">
  <div class="contact-header__content">
    <div class="contact-header__title title-header">
      <img class="title-header__star" src="/icons-work/star7.svg" alt="Star">
      <h3 class="title-header__title prod-title">Con<span>t</span>act</h3>
    </div>
    <div class="contact__header__body body-btn">
      <button class="body-btn__btn contact-btn">
        <a class="body-btn__link"  appClickSmooth="home">Home</a>
        <img class="body-btn__arrow" src="/icons-work/arrow-down.svg" alt="Star" appClickSmooth="home">
      </button>
    </div>
  </div>
</div>
