<div class="pack">
    <div class="pack__body">
      <ul class="pack__title title title--card">
        <h4>Online</h4>
      </ul>
      <ul class="pack__list">
        <li class="pack__item">
          <p class="pack__text">Online chat bot</p>
        </li>
        <li class="pack__item">
          <p class="pack__text">Subscription</p>
        </li>
        <li class="pack__item">
          <p class="pack__text">Cloud-based</p>
        </li>
        <li class="pack__item">
<!--          <p class="pack__text">Who’s customer: general audience</p>-->
          <p class="pack__text" style="line-height: 30px;">Who’s customer: small to medium-sized businesses, startups, remote teams, tech-savvy individuals</p>
        </li>
      </ul>
      <button class="pack__btn">
        <a class="pack__link" appClickSmooth="order">Order</a>
      </button>
    </div>
</div>
