@import '../../../../assets/style/style';
@import '../../../../assets/style/common';


.features-sub {
  // .features-sub__container
  &__container {
  }

  // .features-sub__body
  &__body {
  }

  // .features-sub__subtitle
  &__subtitle {
  }

  // .features-sub__text
  &__text {
    max-width: rem(530);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    @include adaptiveValue("font-size", 17, 16);
    line-height: 142%;
    text-align: center;
    color: #AEAEAE;
    span{
      color: #E1E1E1;
    }
  }
}
