<div class="features-sub opacity-element" appScrollAnimate [animationClass]="'opacity'" [animationDelay]="200" [threshold]="0.5">
  <div class="features-sub__container">
    <div class="features-sub__body">
      <div class="features-sub__subtitle">
        <p class="features-sub__text">Fully <span>localized</span> legal chatbot operating entirely <span>offline</span>, ensuring privacy and <span>confidentiality</span>, and unparalleled <span>security</span> for your legal needs.
      </div>
    </div>
  </div>
</div>
