<header class="header">
  <div class="header__container" [class.loaded]="isLoading">
<div class="header__body">
    <div class="header__left-items items-left anim" [class.loaded]="isLoading">
      <nav class="items-left__menu-left menu-left">
        <ul class="menu-left__list">
          <li class="menu-left__item header-item">
            <a href="#" class="menu-left__link">Home</a>
          </li>
          <li class="menu-left__item header-item">
            <a href="#" class="menu-left__link">Product</a>
          </li>
          <li class="menu-left__item header-item">
            <a href="#" class="menu-left__link">Features</a>
          </li>
        </ul>
      </nav>
    </div>

   <div class="header__logo-item logo">
      <nav class="logo__menu menu-logo">
        <ul class="menu-logo__list">
          <li class="menu-logo__item">
            <a href="#" class="menu-logo__logo" [class.loaded]="isLoading">Lexfactum.AI</a>
          </li>
        </ul>
      </nav>
    </div>

   <div class="header__right-items items-right">
      <nav class="items-right__menu-right menu-right anim" [class.loaded]="isLoading">
        <ul class="menu-right__list">
          <li class="menu-right__item header-item">
            <a href="#" class="menu-right__link">Rodemap</a>
          </li>
          <li class="menu-right__item header-item">
            <a href="#" class="menu-right__link">Team</a>
          </li>
          <li class="menu-right__item header-item">
            <div class="menu-right__btn-body">
            <button class="menu-right__btn">
              <a href="#" class="menu-right__link">Contact</a>
            </button>
            </div>
          </li>
        </ul>
      </nav>
    </div>
</div>
  </div>
</header>
