@import '../../../assets/style/style';
@import '../../../assets/style/common';

//=========Final===============================================================================================================================================$1

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 150;
  transition: all 0.8s;
  //transition: top 0.3s ease-in-out, padding 0.3s ease-in-out;
  //background-color: rgba(8, 8, 8, 0.6);
  &--scroll{
    //@media (max-width: $tablet) {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
    backdrop-filter: blur(rem(10));
    //border-radius: rem(25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    //}
  }
  // .header__container
  &__container {
    max-width: 1710px;
    padding: rem(30) rem(15) rem(15);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: rem(1);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-image: $newLinkColor;
      background-size: 300%;
      animation: bg-animation 5s infinite alternate;
      -webkit-background-clip: border-box;
      background-clip: border-box;
    }

    &.loaded {
      &::after {
        width: 98%;
        transition: all 1s ease 0.6s;
      }

    }

    &--scroll{
      @media (max-width: $tablet) {
        padding: rem(10) rem(10) rem(5);
      }
      &::after {
            content: '';
           display: none;
          }
 }
  }

  // .header__body
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.menu-left {
  // .menu-left__list
  &__list {
    display: flex;
    padding: rem(0) rem(15);
    column-gap: rem(100);
    @include adaptiveValue("column-gap", 100, 40, 1200, 991.98, 1);
  }
}

.menu-logo {
  // .menu-logo__list
  &__list {
    display: flex;
    padding: rem(0) rem(15);
    overflow: hidden;
  }

  // .menu-logo__logo
  &__logo {
    font-size: rem(27);
    font-family: Oswald-Regular, sans-serif;
    font-weight: 400;
    letter-spacing: rem(0.8);
    margin-bottom: rem(5);

    background-image: $newTxtColor;
    background-size: 300%;
    animation: bg-animation 5s infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: translateY(110%);
    opacity: 0.3;
    position: relative;
    z-index: 51;

    &.loaded {
      opacity: 1;
      transform: translateY(0);
      transition: all 1s ease 0.3s;
    }
  }
}

.menu-right {
  // .menu-right__list
  &__list {
    display: flex;
    padding: rem(0) rem(15);
    column-gap: rem(100);
    @include adaptiveValue("column-gap", 100, 40, 1200, 991.98, 1);
  }

  // .menu-right__btn-body
  &__btn-body {
    background-color: #222222;
    position: relative;
    z-index: 30;
    border-radius: rem(10);
  }

  // .menu-right__btn
  &__btn {
    background-color: #222;
    width: 100%;
    height: 100%;
    border-radius: rem(10);
    //padding: rem(10) rem(15);
    &::after {
      content: '';
      position: absolute;
      border-radius: rem(10);
      width: calc(100% + 3px);
      height: calc(100% + 3px);
      top: -4%;
      left: -1.5%;
      background-image: $newTxtColor;
      background-size: 400%;
      animation: bg-animation 5s infinite alternate;
      background-clip: border-box;
      z-index: -1;
      @media (max-width: $tablet) {
        top: -3%;
        left: -1%;
      }
    }
transition: all 0.5s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(34, 34, 34, 0.5);
      }
    }
    a {
      padding: rem(10) rem(15);
      font-weight: 500;
      color: #fff;
      @media (max-width: $tablet) {
        padding: rem(15) rem(20);
      }
    }
  }


  // .menu-right__link
  &__link {
  }
}


.line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

//====================================================================================================

.header {

  // .header__menu
  &__menu {
    @media (min-width: $tablet) {
      display: none;
    }
    display: flex;
    align-items: center;
  }

  &__left-items{
    display: none;
    @media (min-width: $tablet) {
      display: flex;
      //flex-direction: row-reverse;
    }
  }
   &__left-items{
     display: none;
    @media (min-width: $tablet) {
      display: flex;
      //flex-direction: row-reverse;
    }
  }

}

.menu {
  overflow: hidden;
  // .menu__icon
  &__icon {
  }

  // .menu__body
  &__body {
      display: none;
    @media (max-width: $tablet) {
      display: block;
      position: fixed;
      overflow: auto;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      pointer-events: none;
      transition: all 0.3s ease 0s;
      //background-color: #0c0c0c;
      background-color: rgba(12, 12, 12, 0.8);
      backdrop-filter: blur(10px);
      @include adaptiveValue("padding-top", 170, 100);
      padding-bottom: rem(30);
      padding-right: rem(15);
      padding-left: rem(15);

      &::before {
        content: "";
        top: 0;
        position: fixed;
        width: 100%;
        left: 0;
        transition: all 0.3s ease 0s;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
        //@include adaptiveValue("height", 171, 100);
        @include adaptiveValue("height", 300, 100);
      }
      &.menu-open {
        pointer-events: visible;
        top: 0;
        opacity: 1;
        z-index: 1;
        &::before {
          left: 0;
        }
      }
    }
  }

  // .menu__list
  &__list {
    &.menu-open{
      display: flex;
      flex-direction: column;
      row-gap: rem(30);
      position: relative;
      z-index: 100;
    }
  }

  // .menu__item
  &__item {
  }

  // .menu__link
  &__link {
  }
}


//Burger
.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: rem(30);
    //height: rem(22.5);
    height: rem(19.5);
    cursor: pointer;
    z-index: 5;
    &.menu-open {
      span,
      &::before,
      &::after {
        background-color: #fff;
      }
    }
  ;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2.5px;
      background-color: #fff;
      border-radius: rem(25);

    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    &.menu-open {
      span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(45deg);
        top: calc(50% - 1px);
      }

      &::after {
        transform: rotate(-45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}
