


.dot{
  width: 5px;
  height: 5px;
  background-color: white;
}

.dot-outline{
  width: 30px;
  height: 30px;
  //border: 2px solid #1C2C43;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor{
  position: fixed;
  top: 0;
  left: 0;
  transform: translate( -50%, -50%);
  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
}
