

<div class="product-bg">
  <div class="product-bg__container">
    <div class="product-bg__content" [class.loaded]="isLoading">
      <ul class="product-bg__body">
        <li class="product-bg__item-img">
          <img src="/2.webp" class="product-bg__bg">
          <img src="/icons-work/line_product.svg" class="product-bg__line">
        </li>
         <li class="product-bg__item">
          <p class="product-bg__design-txt">use future today</p>
           <img src="/icons-work/line_product.svg" class="product-bg__sec-line">
        </li>
      </ul>
      </div>
  </div>
</div>
