@import '../../../../assets/style/style';
@import '../../../../assets/style/common';

.roadmap-title {
  // .roadmap-title__container
  &__container {
  }

  // .roadmap-title__body
  &__body {
  }

  // .roadmap-title__title
  &__title {
    display: flex;
  }

  // .roadmap-title__txt-icon
  &__txt-icon {
    position: relative;
    background-image: url(../../../../assets/images/blue-txt-bg.jpg);
    //background-position: 263% 185%;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: rem(2);
      top: 110%;
      left: 0;
      border-bottom: rem(2) dotted #727272;
    }
  }
}

.roadmap {
  // .roadmap__title-box
  &__title-box {
    display: flex;
    align-items: center;
    column-gap: rem(10);
  }
}

.title-header {
  // .title-header__star
  &__star {
  }
}

.title {
}
