@import '../../../assets/style/style';
@import '../../../assets/style/common';


.product {
  background: #070707;
  @include adaptiveValue("padding-bottom", 220, 90);
  @media (max-width: em(1070)) {
    padding-bottom: rem(220);
  }
  // .product__contain
  &__contain {
  }

  // .product__body
  &__body {
    position: relative;
    z-index: 2;
  }

  // .product__bg
  &__bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    aspect-ratio: 491/1002;
    max-width: rem(491);
    background: url(../../../assets/new-images/new-icons/feature-bg.png) 0 0 / cover no-repeat;
    opacity: 0.02;
    z-index: -1;
  }

  // .product__container
  &__container {
  }

  // .product__components
  &__components {
    display: flex;
    flex-direction: column;
  }

  // .product__title-component
  &__title-component {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("padding-top", 50, 40);
  }

  // .product__flex
  &__flex {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-top: rem(165);
    margin-bottom: rem(105);
    @include adaptiveValue("padding-top", 105, 40, 1200, 320);
    @media (max-width: em(1070)) {
      justify-content: center;
      //flex-wrap: wrap;
      row-gap: rem(100);
      @include adaptiveValue("row-gap", 100, 40);
      column-gap: rem(30);
      flex-direction: column-reverse;
     @include adaptiveValue("margin-bottom", 50, 25);
    }
    @media (max-width: em(660)) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__together {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: rem(100);
    @media (max-width: em(1070)) {
      column-gap: rem(30);
      flex-direction: row;
      justify-content: space-between;
      //align-items: center;
    }
  }

  // .product__text-component
  &__text-component {
    padding-top: rem(50);
    @media (max-width: em(1070)) {
      padding-top: 0;
    }
  }

  // .product__input-component
  &__input-component {
    @media (max-width: em(1070)) {
      display: flex;
      justify-content: center;
    }
  }

  // .product__bg-design-component
  &__bg-design-component {
  }

  // .product__logo-component
  &__logo-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .product__design-text-component
  &__design-text-component {

  }
}

.item {
}
