@import '../../../../assets/style/style';
@import '../../../../assets/style/common';

.tech-image {
  // .tech-image__container
  &__container {
  }

  // .tech-image__body
  &__body {
  }

  // .tech-image__content
  &__content {
    display: flex;
    justify-content: center;
  }

  // .tech-image__image
  &__image {
    aspect-ratio: 520/652;
    max-width: rem(520);
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
    @media (max-width: em(1318)) {
      @include adaptiveValue("max-width", 450, 230);
    }
    @media (max-width: em(630)) {
      @include adaptiveValue("max-width", 350, 170);
    }
  }
}
