<div class="features-header">
  <div class="features-header__content">
    <div class="features-header__title title-header">
      <img class="title-header__star" src="/icons-work/Star%208svg.svg" alt="Star">
      <h3 class="title-header__title prod-title">Fea<span>t</span>ures</h3>
    </div>
    <div class="features__header__body body-btn">
      <button class="body-btn__btn features-btn">
        <a class="body-btn__link" appClickSmooth="tech-stack">Tech Stack</a>
        <img class="body-btn__arrow" src="/icons-work/arrow-down.svg" alt="Star">
      </button>
    </div>
  </div>
</div>
