@import '../../../assets/style/style';
@import '../../../assets/style/common';

.features {
  position: relative;
  background: url(../../../assets/images/2.webp) 0 0 / cover no-repeat;
  @include adaptiveValue("padding-bottom", 220, 90);
  @media (max-width: em(1070)) {
    padding-bottom: rem(100);
  }
  // .features__container
  &__container {
  }

  // .features__body
  &__body {
  }

  // .features__content
  &__content {
  }

  // .features__components
  &__components {
    display: flex;
    flex-direction: column;
  }

  // .features__title-component
  &__title-component {
    display: flex;
    justify-content: center;
    @include adaptiveValue("padding-top", 50, 40, 1200, 320);
    padding-top: rem(50);
    @include adaptiveValue("margin-bottom", 35, 20);
  }

  // .features__subtitle-component
  &__subtitle-component {
    display: flex;
    justify-content: center;
    @include adaptiveValue("margin-bottom", 75, 30);
  }

  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: rem(30);
    //@include adaptiveValue("margin-bottom", 55, 30);
    @media (max-width: em(1380)) {
      justify-content: center;
      gap: rem(30);
    }
  }

  &__aus{
    display: flex;
    flex-direction: column;
   align-items: center;
    justify-content: center;
  }

  &__together {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include adaptiveValue("gap", 30, 0);
    @media (max-width: em(1380)) {
      flex-direction: row;
    }
    @media (max-width: em(740)) {
      flex-direction: column;
    }
  }

  // .features__item-one-component
  &__item-one-component {

  }

  // .features__item-two-component
  &__item-two-component {

  }

  // .features__logo-component
  &__logo-component {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  // .features__design-txt-component
  &__design-txt-component {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }



}
