<div class="features-two">
    <div class="features-two__container">
  <div class="features-two__body">
    <div class="features-two__main-top">
      <div class="features-two__title-box">
        <h3 class="features-two__subtitle"><span>AI</span> Chatbot functionality</h3>
        <img src="/icons-work/Star%204.svg" class="features-two__icon">
      </div>
      <ul class="features-two__list">
        <li class="features-two__item">

          <p class="features-two__text">Our AI Chatbot offers advanced functionalities including <span>natural language conversation</span>,
            <span>summarisation</span>, <span>reasoning</span>, <span>rephrasing</span>, and <span>inference</span>,
            providing a comprehensive and intuitive user experience.</p>
        </li>
      </ul>
    </div>
  </div>
    </div>
</div>
