<div class="tech-header">
  <div class="tech-header__content">
    <div class="tech-header__title title-header">
      <img class="title-header__star" src="/icons-work/Star%208svg.svg" alt="Star">
      <h3 class="title-header__title prod-title">T<span>e</span>ch </h3>
      <h3 class="title-header__title prod-title">S<span>t</span>ack</h3>
    </div>
    <div class="tech__header__body body-btn">
      <button class="body-btn__btn tech-btn">
        <a class="body-btn__link">Package</a>
        <img class="body-btn__arrow" src="/icons-work/arrow-down.svg" alt="Star">
      </button>
    </div>
  </div>
</div>
