<div class="package-header">
  <div class="package-header__content">
    <div class="package-header__title title-header">
      <img class="title-header__star" src="/icons-work/Star%208svg.svg" alt="Star">
      <h3 class="title-header__title prod-title">P<span>a</span>c<span>k</span>age</h3>
    </div>
    <div class="package__header__body body-btn">
      <button class="body-btn__btn package-btn">
        <a class="body-btn__link" appClickSmooth="roadmap">Roadmap</a>
        <img class="body-btn__arrow" src="/icons-work/arrow-down.svg" alt="Star">
      </button>
    </div>
  </div>
</div>
